<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/login.css"/>
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<meta charset="UTF-8">
<title>Log in</title>
</head>
<body >
    <div id="main_div">
    <h2 >Hi, Watcher!</h2>
    <div id = "log_div">
    <form>
    <table id = "log_table">
    	<tr><th style = "font-family:'Bree Serif', serif;font-size:20px;color:#444444;">User Name:
    		<td><input name = "user_name" id = "user_name" class = "user">
       <tr><th><br><td><br>
    	<tr><th style = "font-family:'Bree Serif', serif;font-size:20px; color:#444444;">Password:
     		<td><input type = "password" name = "user_password" id = "user_password" class ="user">
    </table>
    <br><br>
    <button id = "log_in" name = "Log in">Log in</button>
    <br><br><br>
    <button id = "sign_up" name = "sign_up" class = "no_log">No account? Sign up.</button>
    <br><br>
    <button id = "guest" name = "guest" class = "no_log">Or view as a guest.</button>
    
    </form>
    
    </div>
    
  
   <a style = "margin-left:900px;"
    href ="https://i.pinimg.com/originals/93/db/67/93db674dbe9f4143b9668137a6a7d52a.jpg">https://i.pinimg.com/originals/93/db/67/93db674dbe9f4143b9668137a6a7d52a.jpg</a>
    </div>
	
	
	
	
	
	

</body>
</html>