<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="hero.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto" rel="stylesheet">
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
    <div id = "banner">
	 <div id="logo_div">
		<img src="overwatch_logo.png" style = "width: 55px; margin-top:0px;margin-left:10px;" onclick="window.location.href='MainPage.html'">
	 </div>
	
	 <div id="watcher">Watcher</div>
	 
	 <div id="banner_button"> 
	    <button id="homepage_btt" class = "banner_btt" >Homepage</button>|
	 	<button id="view_hero" class = "banner_btt" onclick="window.location.href='viewHero.html'" style="color:black;">Heroes</button>|
	 	<button id="view_news" class ="banner_btt" onclick="window.location.href='viewNews.html'">News</button>
	 </div>
	 <div style ="margin-left:830px;margin-top:18px;">
	 <button id="account" class ="banner_btt">Log in</button>
	</div>
	</div>
	
	<!-- main_div -->
	<div id="main_div">
	  
		<div class = "hero_div">
		   <P>ANA
			<a href =''>
			<img src="./portrait/ANAportrait.png" class="hero_img" style="margin-left:0px;"></a>	
		</div>
		
		<div class = "hero_div">
		   <P>ASHE
			<a href =''>
			<img src="./portrait/ASHEportrait.png" class="hero_img"></a>	
		</div>
		
		<div class = "hero_div">
		   <P>BASTION
			<a href =''>
			<img src="./portrait/BASTIONportrait.png" class="hero_img"></a>	
		</div>
	    
	    <div class = "hero_div">
		   <P>BRIGITTE
			<a href =''>
			<img src="./portrait/BRIGITTEportrait.png" class="hero_img"></a>	
		</div>
		
		<div class = "hero_div">
		   <P>D.VA
			<a href =''>
			<img src="./portrait/D.VAportrait.png" class="hero_img"></a>	
		</div>
		
	   <!-- CHANGE LINE -->
	    <div style="display:inline-block; width:1500px;height:50px;"></div>
	    
	    <div class = "hero_div">
		   <P>DOOMFIST
			<a href =''>
			<img src="./portrait/DOOMFISTportrait.png" class="hero_img"></a>	
		</div>
		
		<div class = "hero_div">
		   <P>GENJI
			<a href =''>
			<img src="./portrait/GENJIportrait.png" class="hero_img" ></a>	
		</div>
		
		<div class = "hero_div">
		   <P>HANZO
			<a href =''>
			<img src="./portrait/HANZOportrait.png" class="hero_img" ></a>	
		</div>
	   
	   <div class = "hero_div">
		   <P>JUNKRAT
			<a href =''>
			<img src="./portrait/JUNKRATportrait.png" class="hero_img" ></a>	
		</div>
	
	</div>
	

	<!-- footer -->

</body>
</html>