<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="news.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto" rel="stylesheet">
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
    <!-- banner -->
	<div id = "banner">
	 <div id="logo_div">
		<img src="overwatch_logo.png" style = "width: 55px; margin-top:2.5px;margin-left:10px;" onclick="window.location.href='MainPage.html'">
	 </div>
	
	 <div id="watcher">Watcher</div>
	 
	 <div id="banner_button"> 
	    <button id="homepage_btt" class = "banner_btt" onclick="window.location.href='index.html'">Homepage</button>|
	 	<button id="view_hero" class = "banner_btt" onclick="window.location.href='viewHero.html'">Hero</button>|
	 	<button id="view_news" class ="banner_btt" onclick="window.location.href='viewNews.html'" style="color:black;">News</button>
	 </div>
	 <div style ="margin-left:830px;margin-top:18px;">
	 <button id="account" class ="banner_btt">Log in</button>
	</div>
	</div>
	
	<!-- main_div -->
	<div id="main_div">
	
	</div>
	
	
	
	
	
	
	<!-- footer -->
	<footer style="width:100%;margin-bottom:0px;height: 400px; 
	        background-color: #AAAAAA;
			margin-left:auto;
			margin-right:auto;
			margin-top:50px;
			display:inline-block;"
			>
		<div id="footer">
		
		
		
		<img src="overwatch-logo-big.png" style = "width: 200px;margin-left:350px;margin-top:30px;">
	    
		<table style="margin-left:auto;margin-right:auto; color:white;font-size:16px;font-family: 'Roboto', sans-serif;" >
			<tr><td><button class="footer_btt">ABOUT</button>|
		        <td><button class="footer_btt">CONTACT US</button>|
		        <td><button class="footer_btt">PRIVACY</button>
		
		</table>
		
		</div>
		<p style="margin-top:0px;text-align:center;">©2019 ASSIGNMENT3, GROUP 1. ALL RIGHTS RESERVED.</p>
		<table style="margin-left:auto;margin-right:auto;color:black;">
		 <tr><td>KONG YU | <td>LU HUITONG |<td>YUAN ZUN
		</table>
	</footer>

</body>
</html>