<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="hero.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto" rel="stylesheet">
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
    <div id = "banner">
	 <div id="logo_div">
		<img src="overwatch_logo.png" style = "width: 55px; margin-top:0px;margin-left:10px;" onclick="window.location.href='MainPage.html'">
	 </div>
	
	 <div id="watcher">Watcher</div>
	 
	 <div id="banner_button"> 
	    <button id="homepage_btt" class = "banner_btt" >Homepage</button>|
	 	<button id="view_hero" class = "banner_btt" onclick="window.location.href='viewHero.html'">Heroes</button>|
	 	<button id="view_news" class ="banner_btt" onclick="window.location.href='viewNews.html'">News</button>
	 </div>
	 <div style ="margin-left:830px;margin-top:18px;">
	 <button id="account" class ="banner_btt">Log in</button>
	</div>
	</div>
	
	<!-- main_div -->
	<div id="main_div">
		<table>
			<tr><td><button id= "hero_1" class="hero"></button>
			<tr><td>
		
		
		</table>
	
	
	</div>
	
	
	
	
	
	
	
	<!-- footer -->

</body>
</html>